.counterContainer {
    display: inline-flex;
    background-color: black;
    padding: 2rem;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.digit {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 9rem;
    color: white;
    padding: 1.5rem;
    margin: 1rem;
    background: rgba(66, 66, 66, 0.2);
    border-radius: 1rem;
    border-left: 0.3rem solid rgba(34, 33, 33, 0.3);
    border-right: 0.3rem solid rgba(34, 33, 33, 0.3);

}